<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Enter the location in the input bar whose forecast you want to know. </p>
        <p>Press Search button.</p>
    </div>
    
    {{>footer}}
</body>

</html>