<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Enter the location to know the weather!</p>
        <form>
            <input placeholder="Location" >
            <button>Search</button>
        </form>

        <p id ="msgOne"></p>
        <p id="msgTwo"></p>
        <p id="msgThree"></p>
        <p id="msgFour"></p>
        <p id="msg5"></p>
        <p id="msg6"></p>
        <p id="msg7"></p>
        <p id="msg8"></p>
        <p id="msg9"></p>
        <p id="msg10"></p>
        <p id="msg11"></p>
        <p id="msg12"></p>
        <p id="msg13"></p>
        <p id="msg14"></p>

    </div>
    

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>